name: Dev

on:
  push:
    branches: [ "develop" ]
  pull_request:
    branches: [ "develop" ]

jobs:

  build:
    environment: dev
    runs-on: self-hosted

    steps:
    - name: Clear cache
      uses: actions/github-script@v6
      with:
        script: |
          console.log("About to clear")
          const caches = await github.rest.actions.getActionsCacheList({
            owner: context.repo.owner,
            repo: context.repo.repo,
          })
          for (const cache of caches.data.actions_caches) {
            console.log(cache)
            github.rest.actions.deleteActionsCacheById({
              owner: context.repo.owner,
              repo: context.repo.repo,
              cache_id: cache.id,
            })
          }
          console.log("Clear completed")  


    - uses: actions/checkout@v4
    - name: Build and push the Docker image
      run: |
        echo "${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}" | docker login -u "${{ secrets.DOCKER_HUB_ACCESS_USER }}" --password-stdin
        docker buildx build --platform linux/arm64, linux/arm64 -t ${{ secrets.DOCKER_HUB_ACCESS_USER }}/coin-price-be-go-241 ./backend/
        docker push ${{ secrets.DOCKER_HUB_ACCESS_USER }}/coin-price-be-go-241
    - name: Remove Docker image
      run: |
        docker rmi ${{ secrets.DOCKER_HUB_ACCESS_USER }}/coin-price-be-go-241
    - name: Deploy on VPS
      uses: appleboy/ssh-action@v1.2.0
      with:
        host: ${{ secrets.VPS_IP }}
        username: ${{ secrets.VPS_USER }}
        key: ${{ secrets.VPS_PASSWORD }}
        script: |
          cd server
          echo 'y' | sudo docker container prune
          sudo docker rmi $(sudo docker images -a -q) 2>dev>null || true
          sudo docker-compose down
          sudo docker-compose pull
          sudo docker-compose up -d