name: Production

on:
  push:
    branches: [ "production" ]
  pull_request:
    branches: [ "production" ]

jobs:

  build:
    environment: production
    runs-on: self-hosted

    steps:
    - name: Clear cache
      uses: actions/github-script@v6
      with:
        script: |
          console.log("About to clear")
          const caches = await github.rest.actions.getActionsCacheList({
            owner: context.repo.owner,
            repo: context.repo.repo,
          })
          for (const cache of caches.data.actions_caches) {
            console.log(cache)
            github.rest.actions.deleteActionsCacheById({
              owner: context.repo.owner,
              repo: context.repo.repo,
              cache_id: cache.id,
            })
          }
          console.log("Clear completed") 
          
    - name: Deploy on VPS
      uses: appleboy/ssh-action@v1.2.0
      with:
        host: ${{ secrets.VPS_IP }}
        username: ${{ secrets.VPS_USER }}
        key: ${{ secrets.VPS_PASSWORD }}
        script: |
          cd server
          git pull origin production
          > .env
          touch .env

          echo 'MONGO_URI=${{ secrets.MONGO_URI }}' >> .env 
          echo 'MONGO_DB_NAME=${{ secrets.MONGO_DB_NAME }}' >> .env 
          echo 'ACCESS_SECRET=${{ secrets.ACCESS_SECRET }}' >> .env 
          echo 'REFRESH_SECRET=${{ secrets.REFRESH_SECRET }}' >> .env 
          echo 'ACCESS_TOKEN_TTL=${{ secrets.ACCESS_TOKEN_TTL }}' >> .env 
          echo 'REFRESH_TOKEN_TTL=${{ secrets.REFRESH_TOKEN_TTL }}' >> .env 
          echo 'MAILJET_API_KEY=${{ secrets.MAILJET_API_KEY }}' >> .env 
          echo 'MAILJET_SECRET_KEY=${{ secrets.MAILJET_SECRET_KEY }}' >> .env 
          echo 'EMAIL_SENDER=${{ secrets.EMAIL_SENDER }}' >> .env 
          echo 'BASE_URL=${{ secrets.BASE_URL }}' >> .env 
          echo 'MOMO_PARTNER_CODE=${{ secrets.MOMO_PARTNER_CODE }}' >> .env 
          echo 'MOMO_BASE_URL=${{ secrets.MOMO_BASE_URL }}' >> .env 
          echo 'MOMO_ACCESS_KEY=${{ secrets.MOMO_ACCESS_KEY }}' >> .env 
          echo 'MOMO_SECRET_KEY=${{ secrets.MOMO_SECRET_KEY }}' >> .env 
          echo 'MOMO_REDIRECT_URL=${{ secrets.MOMO_REDIRECT_URL }}' >> .env 
          echo 'MOMO_IPN_URL=${{ secrets.MOMO_IPN_URL }}' >> .env 
          echo 'COOKIE_DOMAIN=${{ secrets.COOKIE_DOMAIN }}' >> .env 
            
          echo 'y' | sudo docker container prune
          sudo docker-compose down
          sudo docker rmi $(sudo docker images -a -q) 2>dev>null || true
          sudo docker-compose pull
          sudo docker-compose up -d --build
